# Ansible managed
###############################################################
# configuration for http-site:
# site_root:                 /var/www/html
# site_composite:            enable
# site_composite_id:         01
# site_composite_var:        $is_site_composite_01
# site_composite_storage:    files
###############################################################
server {
  listen 80 ;
  server_name _;

  access_log /var/www/log/nginx-access.log main;
  error_log  /var/www/log/nginx-error.log warn;

  set $docroot		"/var/www/html";
  root            "/var/www/html";
  proxy_ignore_client_abort off;
  index index.php;

  server_name_in_redirect off;

  set $proxyserver	"http://{{ item.sitename }}-bitrix:80";
  proxy_set_header	X-Forwarded-For    $proxy_add_x_forwarded_for;
  proxy_set_header	X-Real-IP          $remote_addr;
  proxy_set_header	Host               $host:80;
  proxy_set_header  X-Forwarded-Host   $host;
  proxy_set_header  X-Forwarded-Scheme $scheme;

  
  set $imcontenttype	"text/html; charset=utf-8";
  
  # Redirect to ssl if need
  #if (-f /var/www/html/.htsecure) { return 301 https://$host$request_uri; }
    
  # composite variables
  set $composite_cache    "bitrix/html_pages/${host}${composite_key}/index@${args}.html";
  set $composite_file     "${docroot}/${composite_cache}";
  
  # config file
  set $composite_enabled  "${docroot}/bitrix/html_pages/.enabled";
  # if test pass through general tests:
  set $use_composite_cache "";
  # global site test, the same for all sites on the server
  if ($is_global_composite  = 1) {set $use_composite_cache "A";}
  # personal site tests, generated by site config
  if ($is_site_composite_02 = 1) {set $use_composite_cache "${use_composite_cache}B";}
  
  # Include parameters common to all websites
  include bx/conf/bitrix_general.conf;

  # main location with processing composite
  location / {
    
    if (-f $composite_enabled)     { set $use_composite_cache "${use_composite_cache}C"; }

    # test cache file exists
    if (-f $composite_file)  { set $use_composite_cache "${use_composite_cache}D"; }

    if ($use_composite_cache = "ABCD") { rewrite .* /$composite_cache last; }
    proxy_pass $proxyserver;
  }
}
