# Ansible managed
# Additional website http
server {
    listen 80 ;
  
    server_name _;
  
  access_log /var/www/log/nginx-access.log main;
  error_log  /var/www/log/nginx-error.log warn;

  #charset utf-8;
  server_name_in_redirect off;

  proxy_set_header	X-Real-IP $remote_addr;
  proxy_set_header	X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header	Host $host:80;

    set $proxyserver  "http://{{ item.sitename }}-bitrix:80";
  
    set $imcontenttype	"text/html; charset=utf-8";
    set $docroot		"/var/www/html";

  index index.php;
  root "/var/www/html";
  proxy_ignore_client_abort off;

  # Redirect to ssl if need
    #if (-f /var/www/html/.htsecure) { rewrite ^(.*)$ https://$host$1 permanent; }
  
  # Include parameters common to all websites
  include bx/conf/bitrix.conf;
}
