{% for item in cloudstorages %}
  {% set sitename = item.sitename %}
  {% set sitename_hyphened = item.sitename | replace('.','-') %}
  {% if item.add_www_host is undefined %}
    {% set add_www_host = true %}
  {% else %}
    {% set add_www_host = item.add_www_host %}
  {% endif %}
  {% if item.ssl_enable is undefined %}
    {% set ssl_enable = true %}
  {% else %}
    {% set ssl_enable = item.ssl_enable %}
  {% endif %}
  {% if item.ssl_redirect is undefined %}
    {% set ssl_redirect = true %}
  {% else %}
    {% set ssl_redirect = item.ssl_redirect %}
  {% endif %}
  {% if item.www_redirect is undefined %}
    {% set www_redirect = true %}
  {% else %}
    {% set www_redirect = item.www_redirect %}
  {% endif %}
  {% if item.admin_login is undefined %}
    {% set admin_login = "admin" %}
  {% else %}
    {% set admin_login = item.admin_login %}
  {% endif %}
  {% if item.db_password is undefined %}
    {% set admin_password = default_password %}
  {% else %}
    {% set admin_password = item.admin_password %}
  {% endif %}
  {% if item.db_name is undefined %}
    {% set db_name = "nextcloud" %}
  {% else %}
    {% set db_name = item.db_name %}
  {% endif %}
  {% if item.db_user is undefined %}
    {% set db_user = "nextcloud" %}
  {% else %}
    {% set db_user = item.db_user %}
  {% endif %}
  {% if item.db_password is undefined %}
    {% set db_password = default_password %}
  {% else %}
    {% set db_password = item.db_password %}
  {% endif %}
  {% set middleware_list = 'security-headers-a@file' %}
  {% set middleware_insecure_list = 'security-headers-a@file' %}
  {% if ssl_redirect and ssl_enable %}
    {% set middleware_insecure_list = middleware_list+', https-redirect@file' %}
  {% endif %}
  {% if www_redirect and add_www_host %}
    {% set middleware_list = middleware_list+', www-redirect@file' %}
    {% if not ssl_redirect %}
      {% set middleware_insecure_list = middleware_list+', www-redirect-insecure@file' %}
    {% endif %}
  {% endif %}

# {{ sitename }}-nextcloud
  {{ sitename }}-nextcloud-db:
    container_name: '{{ sitename }}-nextcloud-db'
    image: postgres
    restart: always
    networks:
      - {{ docker_network }}
    expose:
      - 5432
    volumes:
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=nextcloud-dummy
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}

  {{ sitename }}-nextcloud-redis:
    container_name: '{{ sitename }}-nextcloud-redis'
    image: redis
    restart: always
    networks:
      - {{ docker_network }}

  {{ sitename }}-nextcloud-app:
    container_name: '{{ sitename }}-nextcloud-app'
    image: nextcloud:fpm
    restart: always
    expose:
      - 9000
    networks:
      - {{ docker_network }}
    depends_on:
      - '{{ sitename }}-nextcloud-db'
      - '{{ sitename }}-nextcloud-redis'
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/app:/var/www/html
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/data:/storage/private
    environment:
      - POSTGRES_HOST={{ sitename }}-nextcloud-db
      - NEXTCLOUD_DATA_DIR=/storage/private
      - NEXTCLOUD_TRUSTED_DOMAINS={{ sitename }}
      - NEXTCLOUD_ADMIN_USER={{ admin_login }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ admin_password }}
      - REDIS_HOST={{ sitename }}-nextcloud-redis
      - POSTGRES_DB={{ db_name }}
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}

  {{ sitename }}-nextcloud-cron:
    container_name: '{{ sitename }}-nextcloud-cron'
    image: nextcloud:fpm
    restart: always
    networks:
      - {{ docker_network }}
    volumes:
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/app:/var/www/html
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/data:/storage/private
    entrypoint: /cron.sh
    depends_on:
      - '{{ sitename }}-nextcloud-db'
      - '{{ sitename }}-nextcloud-redis'
    environment:
      - POSTGRES_HOST={{ sitename }}-nextcloud-db
      - NEXTCLOUD_DATA_DIR=/storage/private
      - NEXTCLOUD_TRUSTED_DOMAINS={{ sitename }}
      - NEXTCLOUD_ADMIN_USER={{ admin_login }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ admin_password }}
      - REDIS_HOST={{ sitename }}-nextcloud-redis
      - POSTGRES_DB={{ db_name }}
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}

  {{ sitename }}-nextcloud-frontend:
    container_name: '{{ sitename }}-nextcloud-frontend'
    image: nginx
    restart: always
    expose:
      - 80
    networks:
      - {{ docker_network }}
    depends_on:
      - '{{ sitename }}-nextcloud-app'
    labels:
      - "traefik.enable=true"
{% if ssl_enable %}
{% if add_www_host %}
      - "traefik.http.routers.{{ sitename_hyphened }}.rule=Host(`{{ sitename }}`,`www.{{ sitename }}`)"
{% else %}
      - "traefik.http.routers.{{ sitename_hyphened }}.rule=Host(`{{ sitename }}`)"
{% endif %}
      - "traefik.http.routers.{{ sitename_hyphened }}.entrypoints=https"
      - "traefik.http.routers.{{ sitename_hyphened }}.tls=true"
      - "traefik.http.routers.{{ sitename_hyphened }}.middlewares={{ middleware_list }}"
{% endif %}
{% if add_www_host %}
      - "traefik.http.routers.{{ sitename_hyphened }}-insecure.rule=Host(`{{ sitename }}`,`www.{{ sitename }}`)"
{% else %}
      - "traefik.http.routers.{{ sitename_hyphened }}-insecure.rule=Host(`{{ sitename }}`)"
{% endif %}
      - "traefik.http.routers.{{ sitename_hyphened }}-insecure.entrypoints=http"
      - "traefik.http.routers.{{ sitename_hyphened }}-insecure.middlewares={{ middleware_insecure_list }}"
    volumes:
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/app:/var/www/html
      - {{ cloudstorage_dir }}/{{ sitename }}-nextcloud/data:/storage/private
    environment:
      - POSTGRES_HOST={{ sitename }}-nextcloud-db
      - NEXTCLOUD_DATA_DIR=/storage/private
      - NEXTCLOUD_TRUSTED_DOMAINS={{ sitename }}
      - NEXTCLOUD_ADMIN_USER={{ admin_login }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ admin_password }}
      - REDIS_HOST={{ sitename }}-nextcloud-redis
      - POSTGRES_DB={{ db_name }}
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}

{% endfor %}