  traefik:
    container_name: 'traefik'
    image: traefik
    restart: always
    networks:
      - {{ docker_network }}
    ports:
      - 80:80
      - 443:443
    expose:
      - 8080
{% if traefik_dashboard and traefik_dashboard_auth_string is defined %}
    labels:
      - "traefik.enable=true"
{% if transmission_ssl_enable %}
      - "traefik.http.routers.traefik.rule=Host(`{{ traefik_dashboard_host }}`)"
      - "traefik.http.routers.traefik.entrypoints=https"
      - "traefik.http.routers.traefik.tls.certresolver=default"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.middlewares=traefik-auth, security-headers-a-plus@file"
{% endif %}
      - "traefik.http.routers.traefik-insecure.rule=Host(`{{ traefik_dashboard_host }}`)"
      - "traefik.http.routers.traefik-insecure.entrypoints=http"
{% if transmission_ssl_redirect and transmission_ssl_enable %}
      - "traefik.http.routers.traefik-insecure.middlewares=https-redirect@file"
{% else %}
      - "traefik.http.routers.traefik-insecure.middlewares=security-headers-a-plus@file, traefik-auth"
{% endif %}
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      - "traefik.http.services.traefik.loadbalancer.server.scheme=http"
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_dashboard_auth_string }}"
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ base_dir }}/traefik/traefik.toml:/traefik.toml
      - {{ base_dir }}/traefik/dynamic:/dynamic
      - {{ base_dir }}/traefik/acme.json:/acme.json
