{% set sitename = item.sitename %}
{% set msmtp_host = item.msmtp_host | default (default_msmtp_host) %}
{% set msmtp_port = item.msmtp_port | default (default_msmtp_port) %}
{% set msmtp_email = item.msmtp_email | default (default_msmtp_email) %}
{% set msmtp_auth = 'on' if item.msmtp_auth | default (default_msmtp_auth) else 'off' %}
{% set msmtp_login = item.msmtp_login | default (msmtp_email) %}
{% set msmtp_password = item.msmtp_password | default (default_msmtp_password) %}
{% set msmtp_tls = 'on' if item.msmtp_tls | default (default_msmtp_tls) else 'off' %}
{% set msmtp_starttls = 'on' if item.msmtp_starttls | default (default_msmtp_starttls) else 'off' %}
# smtp account configuration for {{ sitename }}
account {{ sitename }}
logfile /var/www/log/msmtp.log
host {{ msmtp_host }}
port {{ msmtp_port }}
from {{ msmtp_email }}
keepbcc off
auth {{ msmtp_auth }}
{% if msmtp_auth %}
user {{ msmtp_login }}
password {{ msmtp_password }}
{% endif %}
tls {{ msmtp_tls }}
tls_starttls {{ msmtp_starttls }}
tls_certcheck off
